$color-grey-1: #343d46;
$color-grey-2: #4f5b66;
$color-grey-3: #65737e;
$color-grey-4: #a7adba;
$color-grey-5: #c0c5ce;

$color-white-1: #ecf1fa;

$color-black-1: #11151E;
$color-black-2: #1D222D;

$gradient-dark-1: linear-gradient(to bottom right, $color-grey-2, $color-grey-1);
$gradient-dark-2: linear-gradient(to bottom right, $color-grey-3, $color-grey-2);